/*OVERALL STYLING*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root {
  --black: #322e2f;
  --pink: #d9138a;
  --blue: #12a4d9;
  --yellow: #e2d810;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-sizing: 62.5%; /*equals 10px*/
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*BASE STYLES*/
body {
  font-family: Montserrat Alternates, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
}

/*NAV BAR*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 5;
  justify-content: flex-end;
  background-color: var(--pink);
  width: 100%;
  font-size: 1.5em;
  height: 3em;
  line-height: 3em;
  box-shadow: 0 3px 0 rgba(66, 6, 42, 1);
}
nav ul {
  list-style-type: none;
  display: flex; 
}
li {
  padding-right: 12px;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: var(--yellow);
}


/*WELCOME SECTION*/
header {
  margin-top: 4.5em;
  background-color: var(--black);
  text-align: center;
  padding-top: 8em;
  padding-bottom: 8em;
  background-image: linear-gradient(        165deg, 
     rgba(10, 10, 10, 1),
     rgba(50, 46, 47, 1)
  );
  height: 100vh;
}
h1 {
  font-size: 6em;
  font-weight: strong;
  font-family: 'Archivo Black', sans-serif;
  padding-bottom: 1rem;
}
.description {
  color: var(--yellow);
  font-style: italic;
  padding-right: 6rem;
  padding-left: 6rem;
  font-size: 2.4em
}



/*WORK*/
h2 {
  font-size: 2em;
}
#projects {
  background-color: var(--blue);
  height: 100vh;
  position: relative;
  overflow: scroll;
}
#projects-header {
  text-decoration: underline;
  text-align: center;
  padding-top: 2em;
  font-size: 2.5em;
  color: white;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  justify-items: center !important;
  align-items: center !important;
  max-width: 1200px;
  padding-bottom: 6rem;
  margin-top: 3em;
  margin-left: 6em;
  margin-right: 6em;
}

.project-title {
  background-color: var(--black);
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}
.project-title:hover {
  color: var(--yellow);
}
img {
  height: calc (100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.project-tile {
  background-color: var(--black);
}
.btn {
  display:inline-block;
  border-radius: 2px;
  background-color: var(--black);
  color: var(--yellow);
}


/*CONTACT SECTION*/
#contact {
  heigh: 100%;
  min-height: 100vh;
  background-color: var(--black);
  text-align: center;
  color: white;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 0px;
  position: relative;
}
#contact-header {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5em;
  color: var(--pink);
  padding-bottom: 6rem;
  padding-top: 3rem;
}
#contact-details {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  font-weight: bolder;
  color: white;
}
.contact-item {
  padding: 2rem;
  color: white;
}

#profile-link:hover {
  color: var(--yellow);
}

/*FOOTER*/
footer {
  border-top: 4px solid var(--pink);
  background-color: var(--black);
  padding-top: 3em;
}

/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/
/*MEDIA QUERIES FOR RESPONSIVE DESIGN*/

/*Desktops, large screens*/
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
  header, #contact {
    padding-top: 14em;
  }
}

/*Laptops, small screens*/
@media (max-width: 64em) {
  html {
    font-size: 58%;
  }
  header, #projects, #contact {
    padding-top: 14em;
  }
}

/*Tablets*/
@media (max-width: 48em) {
  html {
    font-size: 55%;
  }
  header, #projects, #contact {
    padding-top: 20em;
  }
}
  
/*Mobile devices*/
@media (max-width: 30em) {
  html {
    font-size: 50%;
  }
  header, #projects, #contact {
    padding-top: 30em;
  }
}
